.timer {
  padding-top: 0.9rem;
  padding-left: 7rem;
  font-size: 2.3rem;
  line-height: 1.1;
  width: 7rem;
  font-family: Majorant, sans-serif;
  text-align: left;
}

.expiring {
  color: #dd1717;
}
