.code-preview {
  max-height: 16rem;
  overflow-y: auto;
  box-shadow: 0 0 0.1rem 0.1rem var(--dark-blue);

  code {
    font-family: var(--code-font);
  }
}

.code-preview::-webkit-scrollbar {
  width: 0.75rem;
}

.code-preview::-webkit-scrollbar-track {
  background: rgb(46, 52, 64);
}

.code-preview::-webkit-scrollbar-thumb {
  background: #555;
}

.code-preview::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.terminal-preview {
  max-height: 4rem;
  overflow-y: auto;
  box-shadow: 0 0 0.1rem 0.1rem var(--black);

  code {
    font-family: var(--terminal-font);
  }
}

.terminal-preview::-webkit-scrollbar {
  width: 0.75rem;
}

.terminal-preview::-webkit-scrollbar-track {
  background: var(--black);
}

.terminal-preview::-webkit-scrollbar-thumb {
  background: var(--gray);
}

.terminal-preview::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}

