.option {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1.2rem 0.5rem 1.2rem;
  color: #F8F8F8FF;

  border: 2px solid #035b71;
  border-radius: 1rem;

  cursor: pointer;

  &:hover {
    border-color: var(--yellow);
  }

  &:active {
    border-color: var(--white);
  }

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .answer {
    position: relative;
    padding-left: 2.5rem;
    line-height: 1.5rem;
    flex-grow: 1;
  }

  input[type="checkbox"]:checked + .checkmark {
    visibility: visible;
  }

  .checkmark {
    position: relative;
    top: 0.25rem;
    left: 1.12rem;
    width: 0.5rem;
    height: 0.75rem;
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    visibility: hidden;
  }

  .checkmark + .answer-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--white);
    border-radius: 4px;
  }

  .radio {
    position: relative;
    height: 0.75rem;
    width: 0.75rem;
    top: -0.1rem;
    left: 0.8rem;
    border-radius: 50%;
    background: var(--white);
    border: 0.4rem solid var(--white);
  }

  input[type="radio"]:checked + .radio {
    background: var(--dark-blue);
  }

  .answer-text {
    font-weight: 600;
  }
}

.checked {
  background-color: var(--blue2);
  border-color: var(--blue2);

  &:hover {
    border-color: var(--yellow);
  }

  code {
    background-color: #343941 !important;
  }
}
