footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  height: 5.05rem;

  background-color: var(--dark-blue);
  border-top: 1px solid var(--dark-blue);

  font-weight: 500;
  line-height: 1.5;

  a {
    text-decoration: none;
    color: var(--white);

    transition: var(--transition);

    &:hover {
      color: #17d0fa;
    }
  }

  img {
    height: 1.5rem;
  }

  .buy-me-a-coffee {
    background-color: rgb(95, 127, 255);
    padding: 0.2rem 0.7rem;
    border-radius: 0.5rem;
    font-family: "Cookie", cursive;
    font-style: normal;
    font-size: 1.5rem;

    &:hover {
      color: var(--white);
    }

    img {
      position: relative;
      top: 3px;
      padding-right: 0.3rem;
    }
  }

  .github {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      margin-right: 0.5rem;
      transition: filter 0.2s ease-out;
    }

    &:hover {
      img {
        filter: invert(30%) sepia(98%) saturate(459%) hue-rotate(165deg) brightness(95%) contrast(92%);
      }
    }
  }
}
