.tags {
  margin: 1rem 0;
}

.tag {
  color: var(--dark-blue);
  border: 2px solid var(--blue-gray);
  background-color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  margin-right: 0.5rem;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}