.terminal-preview {
  max-height: 4rem;
  overflow-y: auto;

  pre {
    padding: 0.5rem 1rem !important;
  }

  code {
    font-family: var(--terminal-font);
  }
}

.terminal-preview::-webkit-scrollbar {
  width: 0.75rem;
}

.terminal-preview::-webkit-scrollbar-track {
  background: var(--black);
}

.terminal-preview::-webkit-scrollbar-thumb {
  background: var(--gray);
}

.terminal-preview::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}
