@import url('./components/Header/header.css');
@import url('./components/Option/option.css');

@font-face {
  font-family: 'Majorant';
  src: url('../assets/fonts/MajorantTRIAL-BlkIt.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #007d9c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /*display: flex;*/
  /*justify-content: center;*/
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}

button {
  padding: 1rem 2.2rem;
  font-size: 2.2em;
  background-color: #253443;
  border: 3px solid #253443;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;

  &:disabled {
    background-color: #3a3a3a;
    border-color: #3a3a3a;
    cursor: not-allowed;

    &:hover {
      background-color: #3a3a3a;
      border-color: #3a3a3a;
    }
  }

  &:hover {
    background-color: #035b71;
    border-color: #0ba6ca;
  }

  &:active {
    border-color: rgba(255, 255, 255, 0.87);
  }
}

.correct {
  background-color: #09a804;
  border-color: #1b6805;
}
