@import url(./variables.css);
@import url(./components/Option/option.css);
@import url(./components/CodePreview/code-preview.css);
@import url(./components/Footer/footer.css);
@import url(./components/Disclaimer/disclaimer.css);
@import url(./components/Logo/logo.css);
@import url(./components/Timer/timer.css);
@import url(./components/Progress/progress.css);

@font-face {
  font-family: 'Majorant';
  src: url('../assets/fonts/MajorantTRIAL-BlkIt.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Go';
  src: url('../assets/fonts/Go-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Inter, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--white);
  background-color: var(--blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

button {
  padding: 1rem 2.2rem;
  font-size: 2.2rem;
  background-color: #253443;
  border: 3px solid #253443;
  border-radius: 20px;
  color: var(--white);
  cursor: pointer;
  transition: var(--transition);
  margin: 0.25rem 0 0.75rem 0;

  &:disabled {
    background-color: #3a3a3a;
    border-color: #3a3a3a;
    cursor: not-allowed;

    &:hover {
      background-color: #3a3a3a;
      border-color: #3a3a3a;
    }
  }

  &:hover {
    background-color: #035b71;
    border-color: #0ba6ca;
  }

  &:active {
    border-color: rgba(255, 255, 255, 0.95);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blur {
  filter: blur(8px);
}

.quiz {
  border: 2px solid var(--blue-gray);
  width: 50%;
  margin: 0.5rem 0;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-radius: 8px;
}

.correct {
  background-color: #09a804;
  border-color: #1b6805;
}

header {
  margin: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;

  .logo {
    height: 3rem;
    cursor: pointer;
  }
}
