@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url(./variables.css);
@import url(./components/Option/option.css);
@import url(./components/CodePreview/code-preview.css);
@import url(./components/Footer/footer.css);
@import url(./components/Disclaimer/disclaimer.css);
@import url(./components/Logo/logo.css);
@import url(./components/Timer/timer.css);
@import url(./components/Progress/progress.css);
@import url(./components/Question/question.css);

@font-face {
  font-family: 'Majorant';
  src: url('../assets/fonts/MajorantTRIAL-BlkIt.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Go';
  src: url('../assets/fonts/Go-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Code_page_437';
  src: url('../assets/fonts/Code_page_437.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: var(--font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-weight: 400;

  color: var(--white);
  background-color: var(--blue);
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

button {
  font-family: var(--font);
  font-size: 1.5rem;

  margin-bottom: 1rem;
  padding: 1rem 2.2rem;

  background-color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  border-radius: 0.8rem;
  color: var(--white);
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 0 0 0.1rem 0.1rem var(--dark-blue);

  &:disabled {
    background-color: var(--blue-gray);
    border-color: rgba(37, 52, 67, 0.05);
    color: var(--gray);
    cursor: default;
    box-shadow: none;

    &:hover {
      background-color: var(--blue-gray);
      border-color: rgba(37, 52, 67, 0.05);
    }
  }

  &:hover {
    background-color: var(--blue2);
    border-color: var(--blue2);
  }

  &:active {
    border-color: var(--white);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blur {
  filter: blur(8px);
}

.question {
  border: 2px solid var(--blue-gray);
  width: 50%;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.correct {
  background-color: var(--green2);
  border-color: var(--green);

  .checked {
    background-color: var(--green);
  }

  .option {
    border-color: var(--green);

    &:hover {
      border-color: var(--green);
      cursor: default;
    }
  }
}

.incorrect {
  background-color: var(--red);
  border-color: var(--red2);

  .checked {
    background-color: var(--red2);
  }

  .option {
    border-color: var(--red2);

    &:hover {
      border-color: var(--red2);
      cursor: default;
    }
  }
}

header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;

  .logo {
    height: 3rem;
    cursor: pointer;
  }
}
